In [13]:
name = 'Kieran'
last = 'Prasch'

In [9]:
for letter in name:
    print(letter, ord(letter))

K 75
i 105
e 101
r 114
a 97
n 110

In [12]:
for i in [1, 2, 3, 4, 5, 7]:
    print(i**i)

1
4
27
256
3125
823543

In [20]:
for num in range(len(name)):
    print(name[num], last[num])

K P
i r
e a
r s
a c
n h

In [21]:
counter = 0
for letter in name:
    print(letter, last[counter])
    counter += 1

K P
i r
e a
r s
a c
n h

In [27]:
for x, y in [('a', 'b'), ('c', 'd')]:
    print(x, y)

a b
c d

In [29]:
list(enumerate(name))

[(0, 'K'), (1, 'i'), (2, 'e'), (3, 'r'), (4, 'a'), (5, 'n')]

In [31]:
name

'Kieran'

In [117]:
# Enum Design Pattern
for index, letter in enumerate(name):
    print(index, letter)

0 K
1 i
2 e
3 r
4 a
5 n

In [35]:
name

'Kieran'

In [36]:
last

'Prasch'

In [39]:
for f, l in zip(name, last):
    print(f, l)

K P
i r
e a
r s
a c
n h

In [89]:
account_number = [4, 5, 5, 6, 7, 3, 7, 5, 8, 6, 8, 9, 9, 8, 5, 5]

In [75]:
for index, digit in enumerate(account_number):
    print(index, digit)

0 4
1 5
2 5
3 6
4 7
5 3
6 7
7 5
8 8
9 6
10 8
11 9
12 9
13 8
14 5
15 5

In [85]:

for number in account_number:
    number = number * 2
    print(number)

8
10
10
12
14
6
14
10
16
12
16
18
18
16
10
10

In [87]:
account_number[0] = True

In [88]:
account_number

[True, 5, 5, 6, 7, 3, 7, 5, 8, 6, 8, 9, 9, 8, 5, 5]

In [90]:
n = 42

In [92]:
str(n)[0]

'4'

In [94]:
list(str(42))[0]

'4'

In [95]:
account_number

[4, 5, 5, 6, 7, 3, 7, 5, 8, 6, 8, 9, 9, 8, 5, 5]

In [99]:
big = max(account_number)

big

9

In [100]:
check_digit = str(big)[0]

In [101]:
check_digit

'9'

In [102]:
for i in account_number:
    if check_digit in str(i):
        print("Yes")

Yes
Yes

In [103]:
def helper(word):
    return word[-1]

In [106]:
sorted(['dddd', 'ab', 'ccc'], key=len)

['ab', 'ccc', 'dddd']

In [107]:
account_number

[4, 5, 5, 6, 7, 3, 7, 5, 8, 6, 8, 9, 9, 8, 5, 5]

In [114]:
[digit * 2 for index, digit in enumerate(account_number) if index % 2 == 0]

[2, 10, 18, 16, 16, 14, 14, 10, 8]

In [116]:
account_number

[True, 5, 5, 8, 9, 9, 8, 6, 8, 5, 7, 3, 7, 6, 5, 5, 4]

In [118]:
account_number

[True, 5, 5, 8, 9, 9, 8, 6, 8, 5, 7, 3, 7, 6, 5, 5, 4]

In [119]:
import random

In [122]:
random.shuffle(account_number)

In [123]:
account_number

[7, 3, 8, 6, 5, 8, 4, True, 6, 5, 7, 5, 5, 9, 5, 9, 8]

In [125]:
random.sample(account_number, 5)

[4, 6, 9, 7, 6]

In [126]:
random.choice(account_number)

8

In [128]:
random.randrange(100, 100*10)

156

In [129]:
import random

my_randoms = list()

for i in range(10):
    my_randoms.append(random.randrange(1,101,1))

print(my_randoms)

[39, 11, 18, 76, 12, 1, 78, 3, 66, 61]

In [130]:
[random.randrange(1, 101, 1) for i in range(101)]

[85,
 1,
 23,
 4,
 86,
 79,
 35,
 58,
 43,
 1,
 78,
 93,
 49,
 89,
 59,
 15,
 39,
 1,
 72,
 22,
 34,
 24,
 67,
 75,
 70,
 82,
 20,
 34,
 15,
 56,
 38,
 21,
 69,
 5,
 91,
 97,
 94,
 2,
 82,
 42,
 61,
 86,
 46,
 87,
 47,
 48,
 42,
 47,
 21,
 96,
 32,
 22,
 27,
 89,
 69,
 46,
 25,
 87,
 57,
 49,
 95,
 60,
 21,
 15,
 92,
 63,
 14,
 95,
 38,
 84,
 12,
 54,
 19,
 38,
 54,
 95,
 33,
 82,
 56,
 94,
 79,
 62,
 47,
 98,
 84,
 72,
 14,
 65,
 18,
 61,
 7,
 6,
 60,
 100,
 11,
 1,
 79,
 63,
 37,
 43,
 18]

In [134]:
float("-inf") + float("inf")

nan