In [62]:
class FrenchDeck:
    """This is the LLAMAS docstring"""
    def __init__(self, *args, **kwargs):
        ranks = [i for i in range(2,11)] + list('JQKA')
        suits = ['Clubs', 'Hearts', 'Diamonds', 'Spades']
        self.cards = [(r, s) for r in ranks for s in suits]
        
    def __len__(self):
        """
        dunder len
        """
        return 42*3

In [63]:
deck = FrenchDeck()

In [64]:
len(deck)

126

In [61]:
x = ['a', 'bear']
len(x)

2

In [29]:
deck.__doc__

'This is the LLAMAS docstring'

In [33]:
len.__doc__

'Return the number of items in a container.'

In [36]:
dir(len)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

In [37]:
llamas = [2, 4, 5, 5, 6, 7, 8, 9, 9]

In [38]:
result = list()
for num in llamas:
    result.append(num*2)

In [39]:
result

[4, 8, 10, 10, 12, 14, 16, 18, 18]

In [44]:
[n*2 for n in llamas]  # List Comprehension, is Unique to the python language.

[4, 8, 10, 10, 12, 14, 16, 18, 18]

In [41]:
llamas

[2, 4, 5, 5, 6, 7, 8, 9, 9]

In [45]:
for i in range(len(llamas)):
    print(llamas[i]* 9)

18
36
45
45
54
63
72
81
81

In [46]:
# Increment Pattern

counter = 0
for i in llamas:
    print(i, counter)
    counter += 1

2 0
4 1
5 2
5 3
6 4
7 5
8 6
9 7
9 8

In [65]:
# High Level vs Low Level Python
for index, value in enumerate(llamas):
    print(value, index)

2 0
4 1
5 2
5 3
6 4
7 5
8 6
9 7
9 8

# Higher Order Functions

In [67]:
llamas = ['jo', 'kieran', 'emanuel', 'maximus']

In [82]:
def helper(word):
    return word[-1]

sorted(llamas, key=helper)

['emanuel', 'kieran', 'jo', 'maximus']

In [83]:
#Higher Order Functions

- sorted
- max
- min
- map  ## Use List comp instead of map for mapping ops.
- filter
- reduce
- a few more....

In [84]:
llamas

['jo', 'kieran', 'emanuel', 'maximus']

In [85]:
xyz = [2, 4, 5, 5, 6, 7, 8, 9, 9]

In [94]:
[str(n) for n in llamas if 'n' in n]  # mapping and filtration Op.

['kieran', 'emanuel']

In [88]:
list(map(str, xyz))

['2', '4', '5', '5', '6', '7', '8', '9', '9']

In [92]:
def checker(name):
    if 'n' in name:
        return True
    else:
        return False

list(filter(checker, llamas))

['kieran', 'emanuel']

In [96]:
sorted(llamas, key=lambda word: word[-1])

['emanuel', 'kieran', 'jo', 'maximus']

In [104]:
bin(115656565767657575675675675675756)[2::]

'10110110011110010101000010011101010110111110101100100101011100000011010001001001000011111110100110001101100'

In [107]:
for a, b in zip('kieran', 'prasch'):
    print(a, b)

k p
i r
e a
r s
a c
n h

In [111]:
{str(i): i for i in range(11)}

{'0': 0,
 '1': 1,
 '10': 10,
 '2': 2,
 '3': 3,
 '4': 4,
 '5': 5,
 '6': 6,
 '7': 7,
 '8': 8,
 '9': 9}

- sklearn
- numpy
- scipy
- matplotlib
- seaborn
- nltk