# Labs in the Pool

- All prior works
- dice
- functional refactor
- greeting
- pig latin
- extract header
- case
- 21
- ROT13
- phone number

###### Listy
-------------------------

- letter locate
- list intro
- credit 
- together
- list patterns

# Increment Operator and String Building

In [2]:
# +=
counter = 0     # Initialize the counter variable.

counter += 1    # Click.

print(counter)

1

In [3]:
counter += 3   # Add Three More

In [4]:
print(counter)

4

In [5]:
counter += 5    # Return Value is None

In [6]:
print(counter)

9

# Concat in place

In [8]:
message = ''        # Or str()
message += 'll'     # Returns None, Modifies 'In Place'
print(message)

ll

# Inline Variable Assignment

In [10]:
a = 1
b = 7

In [15]:
(a, b, c, d, e, ) = (1, 7, 3, 6, 5, )

In [16]:
print(a, b, c, d, e)

1 7 3 6 5

In [ ]:
message, counter = str(), int()

# Unpacking Iterables with *

In [60]:
sneakers = ['vans', 'nike', 'asics', 'brooks', 'new balance']

In [61]:
sneakers[0:2]

['vans', 'nike']

In [62]:
first, second, third, *rest_of_shoes = sneakers    # Unpacking Step

In [63]:

print(first)
print(second)
print(third)
print(rest_of_shoes)

vans
nike
asics
['brooks', 'new balance']

In [59]:
*front_shoes, last_shoe = sneakers

In [57]:
print(front_shoes)
print(last_shoe)

['vans', 'nike', 'asics', 'brooks']
new balance

# Unpacking a String with *

In [78]:
print(last)

new balance

In [75]:
*first_chars, x, y, z = last

In [79]:
print('First Chars is ', first_chars)
print('X, Y and Z are respectively ', x, y, z)

First Chars is  ['n', 'e', 'w', ' ', 'b', 'a', 'l', 'a']
X, Y and Z are respectively  n c e

In [ ]:
"""Note: The * Operator will Always return a list!!!"""

# Using Slicing to Reverse an Iterable

In [65]:
sneakers[::-1]     # Alien Smiley for reversing the iterable with a negative stride

['new balance', 'brooks', 'asics', 'nike', 'vans']

# List Basics

In [80]:
['Volvo', 'Honda', 'Tesla', 'Lemon']           # A List Literal

['Volvo', 'Honda', 'Tesla', 'Lemon']

In [81]:

cars = ['Volvo', 'Honda', 'Tesla', 'Lemon']   # A List Literal as a var

In [83]:
type(cars)

list

In [84]:
cars[0]        # Access by Index

'Volvo'

In [85]:
cars[1:5]        # Slicing a List

['Honda', 'Tesla', 'Lemon']

In [86]:
'Tesla' in cars  # Membership

True

In [91]:
for car in cars:  # For Each Loop
    print(car)

Volvo
Honda
Tesla
Lemon

In [92]:
cars[::-1]      # Reversed with Alien Smiley

['Lemon', 'Tesla', 'Honda', 'Volvo']

In [93]:
len(cars)       # One based length

4

In [97]:
cars = cars + ['Delorean']  # List Concat. List + List

In [98]:
print(cars)

['Volvo', 'Honda', 'Tesla', 'Lemon', 'Delorean']

In [99]:
cars - ['Ford Focus']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [101]:
cars * 3

['Volvo',
 'Honda',
 'Tesla',
 'Lemon',
 'Delorean',
 'Volvo',
 'Honda',
 'Tesla',
 'Lemon',
 'Delorean',
 'Volvo',
 'Honda',
 'Tesla',
 'Lemon',
 'Delorean']

In [103]:
cars += ['BMW']    # Increment or Change in Place.  Mutable!

In [104]:
cars

['Volvo', 'Honda', 'Tesla', 'Lemon', 'Delorean', 'BMW']

# List Methods

In [105]:
cars.append('Geo Tracker')

In [106]:
print(cars)

['Volvo', 'Honda', 'Tesla', 'Lemon', 'Delorean', 'BMW', 'Geo Tracker']

In [107]:
# result = cars.append('Lambo')    # NO!!!!!

In [113]:
tesla = cars[2]
print(tesla)

Tesla

In [109]:
type(result)

NoneType

In [110]:
print(cars)

['Volvo', 'Honda', 'Tesla', 'Lemon', 'Delorean', 'BMW', 'Geo Tracker', 'Lambo']

In [114]:
cars.append(None)

In [117]:
cars.append(['volcano', 'california', 'maguro'])

In [120]:
cars[-1].extend(['avacado', 'cucumber'])

In [122]:
cars.extend(['Datson', 'Nissan'])

In [126]:
cars.extend('jkldfhjkdfhjk')

In [127]:
cars

['Volvo',
 'Honda',
 'Tesla',
 'Lemon',
 'Delorean',
 'BMW',
 'Geo Tracker',
 'Lambo',
 None,
 ['volcano', 'california', 'maguro', 'avacado', 'cucumber'],
 'Datson',
 'Nissan',
 'l',
 'l',
 'a',
 'm',
 'a',
 's',
 'llamas',
 'another']

In [155]:
captured = cars.pop()

In [156]:
cars

['Volvo',
 'Honda',
 'Tesla',
 'Lemon',
 'Delorean',
 'BMW',
 'Geo Tracker',
 'Lambo',
 None,
 ['volcano', 'california', 'maguro', 'avacado', 'cucumber'],
 'Datson',
 'Nissan',
 'l',
 'l',
 'a',
 'm',
 'a',
 's']

# Tic Tac Toe board

In [128]:
board = [[0, 0, 0], 
         [0, 0, 0], 
         [0, 0, 0]]

In [130]:
board[1][1] = 'x'    # Assignment by index.  Mutates the original list.

In [132]:
board[0][2] = 'o'

In [136]:
for row in board:    # Pretty printing the board.
    print(row, end='\n')

[0, 0, 'o']
[0, 'x', 0]
[0, 0, 'x']

In [135]:
board[2][2] = 'x'

### String are Immutable

In [137]:
animal = 'llama'

In [138]:
animal[0] = 'k'     # Does not work on immutable type.

TypeError: 'str' object does not support item assignment

In [139]:
bugs = ['Stick', 'Mantis', 'Ant', 'Stink']

In [140]:
bugs[2] = 'Lady'    # Same operation works on a list.

In [141]:
bugs

['Stick', 'Mantis', 'Lady', 'Stink']

### Nested Lists

In [143]:
people = [[['Steve', 'Hanlon'], 'Hotel California', 'Mind Reader'],
          [['Kieran', 'Prasch'], 'Crazy On You', 'Teleportation'],
          [['Nowhere', 'Man'], 'Self Titled', 'Song'],
         ]

In [147]:
people[1][0][1][3]    # The full path to the 's' in 'prasch'

's'

# 21 Advice Hints

In [148]:
card = 'K'
int('K')

ValueError: invalid literal for int() with base 10: 'K'

In [149]:
try:
    int('k')
except ValueError:
    print('The card is a string!!!')

The card is a string!!!


# Basic Random Student Chooser

In [172]:
import random


def choose_random_stude(students):
    for _ in range(0, 10):
        random.shuffle(students)
         
    while len(students) > 0:
        choice = students.pop()
        print(choice)

In [173]:
students = ['Rebecca', 'Steve', 'Doby']
choose_random_stude(students)

Doby
Steve
Rebecca