# Labs in the Pool
-----------------------------
 
- Mad Lib
- Simple Unit Converter
- Wall Painting
- Greeting
- Change Return

#### Intro to Doc Testing
-----------------------
- Knights
- Palindrome Detector
- Strings!
- Join 
- I before E Checker
- Hammer Time
- Dice

## Common String Operations

In [3]:
'llama'             # A string 'literal'

'llama'

In [16]:
'Hello'  'World'  # Concat

'HelloWorld'

In [17]:
'http://www.myllamas.com/' + 'about'  # Concat

'http://www.myllamas.com/about'

In [18]:
'llama' - 'a'              # Does not work.

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [5]:
animal = 'llama'    # Assignment of a string to a variable
print(animal)

llama

In [6]:
animal[0]           # Access by index.  Returns a 'substring'

'l'

In [8]:
"""Star:Stop(non-inclusive):Stride"""
animal[0:3]         # 'Slicing' the string.  Returns a 'substring'

'lla'

In [14]:
'll' in animal       # Testing for 'Membership' with the 'in' operator

True

In [19]:
animal

'llama'

In [55]:
exploded = list(animal)                   # Explode!
print(exploded)

[' ', ' ', ' ', 'l', 'l', 'a', 'm', 'a', ' ', ' ']

In [56]:
str(exploded)

"[' ', ' ', ' ', 'l', 'l', 'a', 'm', 'a', ' ', ' ']"

# String Methods

In [57]:
exploded

[' ', ' ', ' ', 'l', 'l', 'a', 'm', 'a', ' ', ' ']

In [62]:
'$'.join(exploded)

' $ $ $l$l$a$m$a$ $ '

In [23]:
animal.replace('ll', '$')    # Substring Replacement

'$ama'

In [65]:
#  Chaining Methods
animal.replace('l', '$').replace('a', '%').lower().upper()

'   $$%M%  '

In [31]:
'{}'.format(True)           # 3.5 String formatting syntax

'True'

In [33]:
animal.upper()                # Uppercase all chars

'LLAMA'

In [35]:
animal.count('l')           # Count occourances

2

In [39]:
animal = '   llama  '

In [45]:
animal.strip()              # Removes leading and trailing whitespace

'llama'

In [51]:
animal.index('z')           # Returns position of substr

ValueError: substring not found

In [52]:
animal.find('z')

-1

In [76]:
phrase = 'The once was a lady names bright.  Who could travel must faster than light.'

In [83]:
words = phrase.replace('.', '').lower().split()
print(words)

['the', 'once', 'was', 'a', 'lady', 'names', 'bright', 'who', 'could', 'travel', 'must', 'faster', 'than', 'light']

In [86]:
joined = ' '.join(words)

In [87]:
print(joined)

the once was a lady names bright who could travel must faster than light

## Data Types

In [28]:
type(str(1))

str

In [29]:
str(1)

'1'

In [30]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Type Casters

Type converters. One to One with the Data Types.

- list()
- dict()
- bool()
- str()
- int()
- float()
- set()
- tuple()

# More!

In [67]:
toothpaste = 'crest'

In [69]:
uppercase = toothpaste.upper()

In [70]:
print(uppercase)

CREST

In [71]:
type(uppercase)

str

In [75]:
if toothpaste.upper().isupper():
    print('The string is all uppercase!')
elif True:
    pass
else:
    print('lower')

The string is all uppercase!

In [ ]:
if True:
    pass
if True:
    True

# String Constants

In [88]:
import string

In [89]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [90]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [91]:
string.digits

'0123456789'

In [92]:
string.whitespace

' \t\n\r\x0b\x0c'

In [93]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

## Inserting a char into a specific index.

In [96]:
exploded = list('llama')

In [97]:
print(exploded)

['l', 'l', 'a', 'm', 'a']

In [98]:
exploded.insert(2, '$')

In [99]:
exploded

['l', 'l', '$', 'a', 'm', 'a']

In [100]:
''.join(exploded)

'll$ama'

# For looping over strings

Strings are 'Sequences' or 'iterable'

In [104]:
i = 'l'
i = 'a'
print(i)

a

In [108]:
for letter in 'kieran':
    print(letter)

k
i
e
r
a
n

In [119]:
for letter in 'llamas':
    print(letter, end='\n')

l
l
a
m
a
s

In [129]:
# print(phrase)
words = phrase.split()
# print(words)

for word in words:
    print(word)
    
print('All Done.')

The
once
was
a
lady
names
bright.
Who
could
travel
must
faster
than
light.
All Done.

In [130]:
len(words)

14

In [131]:
toothpastes = ['Crest', 'Colgate', 'Tom\'s', 'Arm and Hammer']

In [132]:
type(toothpastes)

list

In [158]:
'''Simple Search Algo'''
def simple_search():
    for paste in toothpastes:
        if paste == 'Crest':
            return paste

In [161]:
result = simple_search()
print(result)

Crest

## Functions

In [175]:
def a_name(say):
    result = 'Knights who say {}!'.format(say)
    return result

In [176]:
captured = a_name('Ni')

In [177]:
print(captured)

Knights who say Ni!

In [156]:
1 + 1

2

In [171]:
'llamas'[::-1]      # Alien Smiley, Neg stride.

'samall'

In [173]:
list(reversed('llamas'))

['s', 'a', 'm', 'a', 'l', 'l']

In [180]:
'a man, a plan'.replace(',', '').replace(' ', '')

'a man a plan'

In [181]:
if ',' in 'a man, a plan':
    print(True)

True

In [182]:
import string

In [183]:
for piunc in string.punctuation:
    phrase.replace(punc, '')

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [184]:
def something():
    pass

In [185]:
something('hannah')

TypeError: something() takes 0 positional arguments but 1 was given

In [188]:
animal = 'llama'

'i'.count('A longer phrase')

In [192]:
max('kieran')

'r'

In [193]:
ord('r')

114

In [194]:
min('kieran')

'a'

In [195]:
'kieran'[-1]

'n'

In [197]:
message = "i HAVE {} LLAMAS".format(42)

In [199]:
print(message, 'llamas')

i HAVE 42 LLAMAS llamas

In [200]:
print('one', True)

one True

In [203]:
from operator import concat

concat('1', '2')

'12'

In [204]:
str([1, 2])

'[1, 2]'

In [210]:
7 in list(range(7, 12))

True

In [211]:
[22, 23, 24, 0, 1, 2, 3, 4]

[22, 23, 24, 0, 1, 2, 3, 4]

In [215]:
list(range(22, 25)) + list(range(0, 5))

[22, 23, 24, 0, 1, 2, 3, 4]

In [213]:
3 in range(10)

True

# The Random Module

In [1]:
import random

In [4]:
random.randint(0, 4000000000)

3113204401

In [6]:
planets = ['mars', 'venus', 'not pluto']

In [17]:
for i in range(6):
    choice = random.choice(planets)
    print(choice)

venus
mars
venus
mars
venus
mars

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
dice = input('how many dice?')
sides = input('how may sides?')

how many dice?3
how may sides?6

In [19]:
dice

'3'

In [20]:
sides

'6'

In [22]:
for i in range(int(dice)):
    print('Rolling dice.')
    roll = random.randint(1, 6)
    print(roll)

Rolling dice.
2
Rolling dice.
4
Rolling dice.
2