In [10]:
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier
from matplotlib import pyplot as plt
from collections import Counter
import pandas
import re

In [11]:
df = pandas.read_csv('/home/k/Desktop/titanic3.csv')

In [12]:
ages = list(df['age'])
sex = list(df['sex'])

In [13]:
%matpotlib inline


ac = Counter(ages)
sc = Counter(sex)

common = sc.most_common()
sexes, scores = list(zip(*common))

fig1, ax1 = plt.subplots()
ax1.pie(scores, labels=sexes, autopct='%1.1f%%', startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle.

# plt.show()

(-1.0076211764483123, 1.0143004635333679, -1.0123697511933007, 1.0)

In [14]:
def sex_extractor(sex):
    if 'f' in sex:
        return 1
    elif 'm' in sex:
        return 0
    
    
def deck_extractor(cabin):
    
    decks = {l.upper(): n for n, l in enumerate('abcdefgt')}
    deck = re.sub('[^A-Z]', '', cabin)[0]
    
    return decks[deck]

In [15]:
df['sex'] = df['sex'].apply(sex_extractor)


df = df.drop(df.columns[[2, 7, 10, 11, 12, 13]], axis=1)
df = df.dropna()

df['deck'] = df['cabin'].apply(deck_extractor)

target = list(df['survived'])
df = df.drop('survived', 1)
df = df.drop('cabin', 1)

In [16]:
t_deck = Counter(sorted(df['deck']))
list(sorted(t_deck.most_common()))

[(0, 19), (1, 63), (2, 86), (3, 42), (4, 38), (5, 18), (6, 5), (7, 1)]

In [17]:
model = ExtraTreesClassifier()     # Fit an Extra Trees model to the data.

model.fit(df, target)             

print(model.feature_importances_)  # Display the relative importance of each attribute.

[ 0.01784578  0.32643866  0.22562702  0.04397811  0.0251128   0.23822672
  0.1227709 ]

In [18]:
df.describe()

,pclass,sex,age,sibsp,parch,fare,deck
count,272.000000,272.000000,272.000000,272.000000,272.000000,272.000000,272.000000
mean,1.172794,0.492647,36.922488,0.503676,0.474265,84.905853,2.352941
std,0.489290,0.500867,15.587495,0.642861,0.786932,80.401431,1.445336
min,1.000000,0.000000,0.916700,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,25.000000,0.000000,0.000000,30.000000,1.000000
50%,1.000000,0.000000,36.000000,0.000000,0.000000,61.175000,2.000000
75%,1.000000,1.000000,48.000000,1.000000,1.000000,96.731250,3.000000
max,3.000000,1.000000,80.000000,3.000000,4.000000,512.329200,7.000000

In [19]:
df

      pclass  sex      age  sibsp  parch      fare  deck
0          1    1  29.0000      0      0  211.3375     1
1          1    0   0.9167      1      2  151.5500     2
2          1    1   2.0000      1      2  151.5500     2
3          1    0  30.0000      1      2  151.5500     2
4          1    1  25.0000      1      2  151.5500     2
5          1    0  48.0000      0      0   26.5500     4
6          1    1  63.0000      1      0   77.9583     3
7          1    0  39.0000      0      0    0.0000     0
8          1    1  53.0000      2      0   51.4792     2
10         1    0  47.0000      1      0  227.5250     2
11         1    1  18.0000      1      0  227.5250     2
12         1    1  24.0000      0      0   69.3000     1
14         1    0  80.0000      0      0   30.0000     0
16         1    0  24.0000      0      1  247.5208     1
17         1    1  50.0000      0      1  247.5208     1
18         1    1  32.0000      0      0   76.2917     3
19         1    0  36.0000      0      0   75.2417     2
20         1    0  37.0000      1      1   52.5542     3
21         1    1  47.0000      1      1   52.5542     3
22         1    0  26.0000      0      0   30.0000     2
24         1    1  29.0000      0      0  221.7792     2
26         1    0  25.0000      1      0   91.0792     1
27         1    1  19.0000      1      0   91.0792     1
28         1    1  35.0000      0      0  135.6333     2
29         1    0  28.0000      0      0   26.5500     2
30         1    0  45.0000      0      0   35.5000     7
31         1    0  40.0000      0      0   31.0000     0
32         1    1  30.0000      0      0  164.8667     2
33         1    1  58.0000      0      0   26.5500     2
34         1    0  42.0000      0      0   26.5500     3
...      ...  ...      ...    ...    ...       ...   ...
342        2    1  36.0000      0      3   39.0000     5
343        2    0  34.0000      0      0   13.0000     3
349        2    1  24.0000      0      0   13.0000     5
380        2    1  22.0000      0      0   10.5000     5
465        2    1  23.0000      0      0   13.7917     3
484        2    1  34.0000      0      0   10.5000     5
485        2    0  36.0000      0      0   12.8750     3
490        2    1  57.0000      0      0   10.5000     4
514        2    0   2.0000      1      1   26.0000     5
515        2    0   3.0000      1      1   26.0000     5
516        2    0  36.5000      0      2   26.0000     5
517        2    0  26.0000      0      0   13.0000     5
520        2    0  20.0000      0      0   13.8625     3
521        2    1  29.0000      0      0   10.5000     5
568        2    0  18.5000      0      0   13.0000     5
573        2    1  27.0000      0      0   10.5000     4
584        2    1  32.5000      0      0   13.0000     4
605        3    0  25.0000      0      0    7.6500     5
873        3    0  42.0000      0      0    7.6500     5
941        3    0  25.0000      0      0    7.2292     5
1024       3    0  25.0000      0      0    7.6500     5
1025       3    0   6.0000      0      1   12.4750     4
1026       3    1  27.0000      0      1   12.4750     4
1131       3    0  32.0000      0      0    8.0500     4
1187       3    1   1.0000      1      1   16.7000     6
1188       3    1  24.0000      0      2   16.7000     6
1189       3    1   4.0000      1      1   16.7000     6
1217       3    0  19.0000      0      0    7.6500     5
1230       3    1   2.0000      0      1   10.4625     6
1231       3    1  29.0000      1      1   10.4625     6

[272 rows x 7 columns]