In [8]:
movies = ['Rambo2', 'Rambo', 'Rambo3', 'Toy Story', 'Toy Story2']

In [9]:
type(movies)

list

In [12]:
sorted(movies)

['Rambo', 'Rambo2', 'Rambo3', 'Toy Story', 'Toy Story2']

In [11]:
alpha = list('abzcklmdeerggdhghgdfghij')

In [7]:
sorted(alpha)

['a',
 'b',
 'c',
 'd',
 'd',
 'd',
 'e',
 'e',
 'f',
 'g',
 'g',
 'g',
 'g',
 'g',
 'h',
 'h',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'r',
 'z']

In [13]:
def choose_last(word):
    return word[-1]

In [17]:
sorted(movies, key=choose_last)

['Rambo2', 'Toy Story2', 'Rambo3', 'Rambo', 'Toy Story']

In [18]:
sorted(movies, key=lambda word: word[-1])

['Rambo2', 'Toy Story2', 'Rambo3', 'Rambo', 'Toy Story']

In [19]:
numbers = [-1, -6, -4, -6, 3, 5, 7, 9, 1, 4, 5, -9, 3]

In [21]:
sorted(numbers, key=abs)

[-1, 1, 3, 3, -4, 4, 5, 5, -6, -6, 7, 9, -9]

In [24]:
name = 'Michael'
list(map(int, name))

ValueError: invalid literal for int() with base 10: 'M'

In [26]:
name = "Bramlet"
list(map(ord, name))

[66, 114, 97, 109, 108, 101, 116]

In [29]:
def add_stuff(word):
    word += "789"
    return word

In [31]:
list(map(add_stuff, name))

['B789', 'r789', 'a789', 'm789', 'l789', 'e789', 't789']

In [32]:
def gt(num):
    if num > 9:
        return True
    else:
        return False

In [33]:
numbers = list([5, 6 ,3 , 12, 42])

In [34]:
list(filter(gt, numbers))

[12, 42]